body {
	font-family: Comic Sans Ms;
}

textarea {
	font-size: 39px;
	font-family: Comic Sans Ms;
	margin: 0 auto;
	width:98%;
	height:510px;
	border-radius: 10px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	background: url(notes.jpg);
	line-height: 140%;
}

input {
	width: 98%;
	height: 100%;
	font-size: 42px;
	font-weight:bold;
	font-family: Comic Sans Ms;
	border-radius:10px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

}

button {
	font-size: 150%;
	font-weight:bold;
	font-family: Comic Sans Ms;
	border: 5px outset darkgrey;
	border-radius:10px;
	background-color: #F8FA96;
	height: 100%;
	width:50px;
	width: 30%;
	cursor: pointer;
	text-align:center;
	float: right;
	margin-right: 2.5%;
}

button:hover {
	background-color: #F9F27D;
	color: black;
}

button:active {

	color: black;
	border:0px outset darkgrey;
}

#addButton {
	height:80%;
	margin:0;
}

.header1 {
	height: 100px;
	margin:0.5%;
	/*border:2px solid lightblue;
	background:lightblue;*/
}

.input {
	height: 70px;
	width: 100%;
	margin:0.5%;
}

body{
	background: #DA7316;
}

#logo {
	float: left;
	font-size: 50px;
	font-weight: bold;
	color: white;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    margin-bottom:0;

}

#sort {
	height: 80px;
	margin:0.5%;
}

.sortButton {
	width: 48%;
	height: 75px;
	border: 5px solid black;
	text-align: center;
	font-size: 24px;
	color: white;
	background: #333333;
	margin-right:0;
}

.sortButton:hover {
	background: white;
	color: black;
}

.sortButton:active{
	border: 5px solid white;
}

#sortModified {
	float:left;
}

#sortCreated {
	float:right;
}

#history {
	padding-bottom: 525px;
	border: 5px outset black;
	border-radius:10px;
	margin: 0.5%;
	background: #B6B6B6;
	position: relative;
}

.historyItem {
	text-align: center;
	background: #F8FA96;
	border: 5px outset black;
	margin-bottom: -1.5%;
	padding-bottom: 2%;
}

.item_name {
	margin-top: 1%;
	margin-bottom:1%;
	text-align: center;
	font-size: 21px;
	font-weight: bold;

}

.item_date_modified {
	font-size: 15px;
	font-style: italic;
	display: inline;
	margin-right: 15px;
	margin-bottom: 6%;
}

.item_date_created {
	font-size: 15px;
	font-style: italic;
	display: inline;
}

#cancel {
	width:30%;
	float:left;
	margin-right:4.5%;
}

#save {
	width:30%;
	float:left;
	margin-right:4.5%;
}

#delete {
	float:left;
	margin-right:0;
}

@media (max-width: 1280px) and (orientation:landscape){

}